body{
	background-image:url(../Assets/Images/wood.png);
}

#banner{
	background-color:brown;
	border:6px solid #000000;
	color:white;
	text-align:center;
	font-family:Arial;
}

#topStuff{
	display:flex;
	justify-content:center;
	align-items:center;
}

#head{
	flex:1;
}

#secondaryhead{
	font-size:30px;
	flex:1;
}

#headCaption{
	background-color:#AADD8899;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	border:2px solid #999999;
	border-radius:15px;
	padding:10px;
	text-align:center;
	font-family:Arial;
	font-weight:bold;
	color:brown;
}

#backbutton{
	background:white;
	border-radius:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	width:90px;
	font-size:20px;
}

#backbutton a{
	text-decoration:none;
}

#backbutton a:hover{
	text-decoration:underline;
}

.description{
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	color:brown;
}

nav a{
	font-family:cursive;
	text-decoration:none;
}

nav a:hover{
	text-decoration:underline;
}

nav div h3{
	font-family:cursive;
	font-size:25px;
	text-decoration:underline;
	text-align:center;
	color:purple;
}

nav div{
	background-color:#FFFFFFDD;
	margin:25px;
	border:2px solid #999999;
	padding-left:20px;
	padding-right:20px;
	border-radius:15px;
}
